

@import "./sections/resources-banner-section.css?v=323232";
@import "./sections/default-intro-section.css?v=323232";
@import "./sections/optional-repeater-section.css?v=323232";
@import "./sections/bilateral-content-section.css?v=323232";
@import "./sections/our-testimonials-section.css?v=323232";
@import "./sections/large-cta-section.css?v=323232";



body{background: var(--Charcoal-Black); }





/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .default-intro-main{padding: 79px 0 1px;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .default-intro-head h2{margin-bottom: 20px;}
}







