







.blog-post-right{gap: 80px; margin-bottom: 99px; justify-content: flex-end;}

.blog-post-overlay{background-color: var(--Black-60);}
.blog-post-text{padding: 32px;}
.blog-post-text h2{line-height: 32px;}
.blog-post-text hr{margin-bottom: 19px;}


ul.category{flex: 1;}
#load-more{text-align: center; margin-top: 40px;}
#load-more .button{margin: 0 auto;}

.blog-post-select{width: 132px;}

.blog-post-form{width: 104px;}
.blog-post-form input{background-color: var(--White); width: 100%; font-weight: 600; font-size: 14px; line-height: 18px; border: none; border-radius: 10px;}
.blog-post-form button{top: 50%; right: 10px; transform: translateY(-50%); border: none; background: none; margin: 0; padding: 0;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .blog-post-main{padding: 0 0 40px;}
    .blog-post-row{gap: 40px;}
    .blog-post-list{flex: 0 0 calc(33.33333% - 27px);}
}   
@media only screen and (max-width: 1023px) and (min-width: 760px){

}
@media only screen and (max-width: 759px) and (min-width: 0px){
    
}
