
.home-banner-video video{width: 100%; height: 100%;}
.home-banner-gradient{ background: linear-gradient(180deg, rgba(28, 28, 28, 0.00) 55.34%, #1C1C1C 92.24%); }
.home-banner-overlay{ background-color: #1C1C1C; opacity: 0.5; }
.home-banner-main{padding: 197px 0 40px;}
.home-banner-text h1{margin-bottom: 25px; font-size: 48px; line-height: 52px; letter-spacing: -0.96px; }

/* media css starts here */
@media only screen and (min-width: 1024px){
    .home-banner-text{max-width: 780px;}
    .home-banner-btns{width: fit-content;}
}
@media only screen and (min-width: 760px){
    .home-banner-text p{margin: 0 auto 33px; max-width: 580px; letter-spacing: -0.4px;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .home-banner-text{padding-bottom: 30px;}
    .home-banner-btns{width: fit-content;}
}
@media only screen and (max-width: 759px) and (min-width: 200px){
    .home-banner-section{min-height: 570px;}
    .home-banner-wrap{padding: 0; }
    .home-banner-main{padding: 169px 0 40px;}
    .home-banner-text{text-align: left;}
    .home-banner-text h1{font-size: 38px; letter-spacing: -0.76px; line-height:41.8px; margin-bottom: 22px;}
    .home-banner-text h1 br{display: none;}
    .home-banner-text p{margin-bottom: 24px;}
}
