

.our-team-head{letter-spacing: -0.4px; color: var(--Text-Color-70);}


  

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .our-team-head{margin-bottom: 37px; max-width: 800px;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .our-team-head{margin-bottom: 37px; max-width: 800px;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .our-team-main{padding: 0 0 40px;}
    .our-team-head{margin-bottom: 39px;}
    .our-team-btn{margin-top: 40px; display: block;}
}













