.post-banner-main {padding: 197px 0 102px;}
.post-banner-overlay{ opacity: 0.7; background-color: var(--Text-Color);}
.post-banner-text {max-width: 560px; width: 100%; letter-spacing: -0.4px;}
.post-banner-text hr{margin-bottom: 14px;}
.post-banner-text h1{margin-bottom: 22px;}
.post-banner-text p{margin-bottom: 33px;}
.post-banner-btns{gap: 32px;}

ul.post-banner-categories{gap: 0 54px;}
ul.post-banner-categories > li::before{width: 4px; height: 4px; top: 50%; left: -24px; transform: translateY(-50%); background-color: var(--Muted-Ochre);}
ul.post-banner-categories > li:first-child:before{display: none;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .post-banner-main{min-height: 786px;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){

}
@media only screen and (max-width: 759px) and (min-width: 0px){
    
}