.post-banner-main {padding: 197px 0 102px;}
.post-banner-gradient{ background: linear-gradient(270deg, rgba(28, 28, 28, 0.00) 50%, rgba(28, 28, 28, 0.70) 83.65%); }
.post-banner-overlay{ opacity: 0.5; background-color: var(--Charcoal-Black);}
.post-banner-ellipse{ left: -256px; bottom: -286.733px; border-radius: 388.261px; background: var(--Muted-Ochre); filter: blur(75px); width: 388.261px; height: 388.261px; transform: rotate(-2.485deg); z-index: -1;}
.post-banner-text {max-width: 560px; width: 100%; letter-spacing: -0.4px;}
.post-banner-text hr{margin-bottom: 14px;}
.post-banner-text h1{margin-bottom: 22px;}
.post-banner-text p{margin-bottom: 33px;}
.post-banner-btns{gap: 32px;}

ul.post-banner-categories{gap: 0 54px;}
ul.post-banner-categories > li::before{width: 4px; height: 4px; top: 50%; left: -24px; transform: translateY(-50%); background-color: var(--Muted-Ochre);}
ul.post-banner-categories > li:first-child:before{display: none;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .post-banner-main{min-height: 786px;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){

}
@media only screen and (max-width: 759px) and (min-width: 0px){
    
}