

.accordion-list{margin-bottom: 8px; }
.accordion-header {font-size: 18px; line-height: 22px; letter-spacing: -0.18px; padding: 20px 48px 20px 24px; cursor: pointer; position: relative; } 

.accordion-icon{transition: var(--b-transition); position: absolute; right: 31px; top: 50%; transform: translateY(-50%); width: 10px; height: 11px;}
.accordion-header.open .accordion-icon{background-color: var(--Umber);} 
.accordion-icon svg{top: 50%; left: 50%; transform: translate(-50%,-50%); transition: all 0.5s ease; position: absolute;}
.accordion-icon svg:not(:first-child){opacity: 0;}
.accordion-header:hover .accordion-icon svg:first-child{opacity: 0;}
.accordion-header:hover .accordion-icon svg:last-child{opacity: 1;}
.accordion-header.open:hover .accordion-icon svg,
.accordion-header.open .accordion-icon svg{top: calc(50% + 0px); transform: translate(-50%, -50%) rotate(180deg);}




.accordion-header.open{color: var(--Accent);} 
.accordion-title{display: block; transition: transform 0.5s ease;}
.accordion-header:hover .accordion-title{transform: translateX(6px); color: var(--Foreground);}
.accordion-header.open:hover .accordion-title{transform: translateX(0);}


.accordion-content { max-height: 0; transition: max-height 0.9s; overflow: hidden; } 
.accordion-desc {padding: 5px 24px 17px; font-size: 14px; line-height: 22px; color: var(--Charcoal-Black-75);}
.accordion-desc p:not(:last-child){margin-bottom: 21px;}
.accordion-desc ul{margin: 0 0 20px 12px;}
.accordion-desc ul > li::before { top: 10px; left: -11px; width: 4px; height: 4px; } 
/* .accordion-desc ol { margin: 0 0 28px 27px; }
.accordion-desc ol > li::before { font-size: 14px; line-height: 14px; top: 3px; left: -17px; }  */
.accordion-wrap { padding: 90px 0 20px; } 
.accordion-head { justify-content: space-between; gap: 20px; } 
.accordion-head-lt h3 { margin-bottom: 0; font-size: 2.5rem; }



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .accordion-main{padding: 40px 0 60px;}
    .application-main{margin-top: 40px;}

}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .accordion-main{padding: 40px 0 60px;}
}
@media screen and (max-width: 759px) and (min-width: 0px){
    .accordion-main{padding: 40px 0 57px;}
    .accordion-header{padding: 16px 64px 16px 0; font-size: 14px; line-height: 21px; font-weight: 500; letter-spacing: 0;}
    .accordion-desc{padding: 3px 0 22px;}
    .accordion-wrap { padding: 50px 0 20px; }
    .accordion-head-lt h3 {font-size: 2rem;}
}